/* Base + Fonts*/
body {
    background-color: #222222;
}

h1 {
    color: #9B2335;
    font-size:4vw;
    text-align:center;
}
h2 {
    color: #9B2335;
    /*font-size:2vw;*/
    text-align:center;
}
p,label{
    color: whitesmoke;
    margin: 10px;
}
/* MENU*/
.nav{
    background-color: #9B2335; /*grey;*/
    overflow: hidden;
}
#nav {
    background-color: #9B2335; /*grey;*/
    overflow: hidden;

    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 2vw; */
    font-size: 18px;
    font-weight: bold;
}

#nav  a:hover {
    background-color: #ddd;
    color: #9B2335;
    border-radius: 20px;
}
/* FOOTER*/
.footer  a:hover {
     background-color: #ddd;
     color: #9B2335;
 }
.footer   {
    color: #f2f2f2;
    /*font-size: 1vw;*/
    text-align: center;
    font-size: 14px;
}
.footer a  {
    color: #f2f2f2;
}

/* GALLERY*/
.fotky{
    width: 500px; /* for the size of thumbnail !!*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: #9B2335;
}
.fotky:after {
    content: "";
    display: table;
    clear: both;
}


div.cssbox_thumb img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
/* LIGHTBOX */
div.cssbox {
    display: inline-block;
}

span.cssbox_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
}

span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
}

a.cssbox_close {
    top: 1%;
    right: 1%
}

a.cssbox_close::after {
    content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
}

a.cssbox_prev {
    left: 5%;
}

a.cssbox_next {
    right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
    visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}
/* CONTACT FORM */
input,select,textarea,button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    outline-color: #9B2335
}
#send_btn{
    border-radius: 16px;
    background-color: #9B2335;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
#send_btn:hover{
    border-radius: 16px;
    background-color: #ddd;
    border: none;
    color: #9B2335;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
select:active, select:hover {
    outline-color: #9B2335
}



